body {
    background: rgb(49, 181, 221);
    font : normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

#variables {
    background : white;
    border-radius : 10px;
    padding :15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

.checkboxes {
    background: white;
}

#genderError {
    font-size: small;
    text-decoration: underline;
    margin-top: 8px;
    color: rgba(153, 69, 69, 0.507);
    font-weight:bold
}